@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Signika';
        src: url("./assets/fonts/Signika-VariableFont_GRAD,wght.ttf");
    }
    @font-face {
        font-family: 'Martel';
        src: url("./assets/fonts/Martel-Regular.ttf");
    }
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.asideScroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: inherit;
  }
  .asideScroll::-webkit-scrollbar-thumb {
    background-color: white;
  }